<!DOCTYPE html>
<html lang="en"></html>
<head>
    <% include ../header/header %>
</head>



	<div class="jumbotron">
	  <h1>Download page</h1>
	</div>


	<div class="container" >
		<p>The tutorial of DrugPorter is available on Youtube
		<a href="https://youtu.be/fmp5YBnN1QM">Youtube Channel </a>
		<button type="button" class = "btn btn-default" style="background-color:#F8F9FA;text-decoration: underline;border-radius: 10px;">
    		<a href="../resources/DrugPorter_Windows.zip" download="DrugPorter_Windows.zip" style="color:black">Windows</a>
    	</button>
    	<button type="button" class = "btn btn-default" style="background-color:#F8F9FA;text-decoration: underline;border-radius: 10px;">
    		<a href="../resources/DrugPorter_macOS.zip" download="DrugPorter_macOS.zip" style="color:black">Linux/MacOS</a>
    	</button>
    	</p>
	</div>

	<div class="container" >
		<p>The zip file contains 10 different training set that are used to build each transporter models
		<button type="button" class = "btn btn-default" style="background-color:#F8F9FA;text-decoration: underline;border-radius: 10px;">
    		<a href="../resources/TrainingSet_DrugPorter.zip" download="TrainingSet_DrugPorter.zip" style="color:black">Download Trainingset</a>
    	</button>
    	</p>
	</div>

	<div class="container" >
		<p>The sqlite3 portable database that used in program DrugPorter
		<button type="button" class = "btn btn-default" style="background-color:#F8F9FA;text-decoration: underline;border-radius: 10px;">
    		<a href="../resources/DrugPorter.db" download="DrugPorter.db" style="color:black">Download Database</a>
    	</button>
    	</p>
	</div>



<footer>
    <% include ../footer/footer %>
</footer>

</body>
</html>