<!DOCTYPE html>
<html lang="en"></html>
<head>
    <% include ../header/header %>
</head>



	<div class="jumbotron">
	  <h1>Drug Transporter Prediction Program</h1> 
	  <p>DrugPorter is fully supported by Weka Machine Learning and Chemistry Development Kit</p><br/>

	  	<div style="position: static;">
	  	<img src="https://abm-website-assets.s3.amazonaws.com/dddmag.com/s3fs-public/embedded_image/2017/04/ddd1705_gene_therapy.jpg" width="40%" height="40%">
		</div>
	</div>


	<div class="container" >
	  
	</div>



<footer>
    <% include ../footer/footer %>
</footer>

</body>
</html>