<!DOCTYPE html>
<html lang="en"></html>
<head>
    <% include ../header/header %>
</head>



	<div class="jumbotron">
	  <h1>Model accurancy and more informations</h1> 
	  
	</div>


	<div class="container" >
    <p style="font-weight:bold;">All models are obtained by Weka desktop program</p>
    <p><span style="font-weight: bold;">Machine Learning Tool:</span> Random Forest (default parameters);</p>
    <p><span style="font-weight: bold;">Evaluation Tool:</span> 10-fold validations;</p>
    <p><span style="font-weight: bold;">Unbalanced dataset handle strategy:</span> Undersampling;</p>
		<table style="width:100%">
  		<tr>
    		<th>Transporter</th>
        <th>Data weight(+:-)</th> 
        <th>Seed</th>
    		<th>Precision</th>
        <th>ROC</th>
        <th>Sensitivity</th>
        <th>Specificity</th>
        <th>External accuracy (tested)</th>
  		</tr>
  		<tr>
    		<td>MDR1</td>
    		<td>364:364</td>
        <td>7</td>
        <td>77.8%</td>
    		<td>0.849</td>
        <td>0.766</td>
        <td>0.790</td>
        <td>N/A</td>
  		</tr>
      <tr>
        <td>ABCG2</td>
        <td>114:114</td>
        <td>6</td>
        <td>77.7%</td>
        <td>0.866</td>
        <td>0.769</td>
        <td>0.784</td>
        <td>0.6</td>
      </tr>
      <tr>
        <td>SLC22A6</td>
        <td>133:133</td>
        <td>9</td>
        <td>80.1%</td>
        <td>0.868</td>
        <td>0.790</td>
        <td>0.813</td>
        <td>0.9</td>
      </tr>
      <tr>
        <td>SLCO1B1</td>
        <td>97:97</td> 
        <td>4</td>
        <td>74.3%</td>
        <td>0.786</td>
        <td>0.728</td>
        <td>0.758</td>
        <td>0.8</td>
      </tr>
      <tr>
        <td>SLC22A8</td>
        <td>91:91</td>
        <td>10</td>
        <td>69.8%</td>
        <td>0.764</td>
        <td>0.688</td>
        <td>0.7.9</td>
        <td>0.8</td>
      </tr>
      <tr>
        <td>ABCC2</td>
        <td>59:59</td> 
        <td>5</td>
        <td>74.8%</td>
        <td>0.811</td>
        <td>0.723</td>
        <td>0.774</td>
        <td>0.3</td>
      </tr>
      <tr>
        <td>SLC22A1</td>
        <td>106:106</td> 
        <td>1</td>
        <td>74.8%</td>
        <td>0.807</td>
        <td>0.738</td>
        <td>0.743</td>
        <td>0.9</td>
      </tr>
      <tr>
        <td>SLCO1A2</td>
        <td>71:71</td> 
        <td>4</td>
        <td>77.6%</td>
        <td>0.881</td>
        <td>0.76</td>
        <td>0.791</td>
        <td>0.5*</td>
      </tr>
      <tr>
        <td>SLC22A2</td>
        <td>106:106</td> 
        <td>6</td>
        <td>69.8%</td>
        <td>0.751</td>
        <td>0.706</td>
        <td>0.691</td>
        <td>0.9</td>
      </tr>
      <tr>
        <td>ABCC1</td>
        <td>83:83</td> 
        <td>5</td>
        <td>75.1%</td>
        <td>0.816</td>
        <td>0.72</td>
        <td>0.781</td>
        <td>0.4</td>
      </tr>
		</table>
	</div>



<footer>
    <% include ../footer/footer %>
</footer>

</body>
</html>