
<!-- script file for bootstrap-->

		<footer id="footer" class="footer">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                        <div class="main-footer">

                            <div class="social">
               
                                <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/xuan.cao.927"><span class="fa fa-facebook"></span></a>

                                <a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/in/xuan-cao-3595b4a2/"><span class="fa fa-linkedin"></span></a>

                                <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/DanisCao"><span class="fa fa-twitter"></span></a>

                                <a class="btn btn-social-icon btn-github" href="https://github.com/Danissss"><span class="fa fa-github"></span></a>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </footer>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
